{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="parallax-full">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('index') }}">ProfileBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pb_nav" aria-controls="pb_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="pb_nav">
                <ul class="navbar-nav mr-auto">
                </ul>
{#                    {{ form_start(userForm,{'attr': {'class': 'form-inline my-2 my-lg-0'}}) }}#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            {{ form_row(userForm.email) }}#}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            {{ form_row(userForm.password) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    {{ form_row(userForm.save, {'attr': {'class': 'btn btn-secondary ml-md-4 my-2 my-sm-0'}}) }}#}
{#                    {{ form_end(userForm) }}#}
            </div>
        </nav>
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> {{ message }}
            </div>
        {% endfor %}
        <div class="container h-100">
                <div class="row mt-5 h-100 justify-content-center align-items-center">
                <div class="col-md-6 text-center">
                    <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
                         alt="suit" class="img-fluid transparent-img">
                    <div class="t-img-text">
                        <h3>What is portfolio book?</h3>
                        <p class="text-info">Portfolio book is created to help you create a stunning resume that will surely get that job you are looking for!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Create an account</h1>
                    {{ form(userForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
