{% extends 'base.html.twig' %}

{% block title %}PortfolioBook{% endblock %}

{% block body %}

    <div class="parallax-full">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('index') }}">ProfileBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pb_nav" aria-controls="pb_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="pb_nav">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form method="post" action="{{ path('app_login') }}" class="form-inline my-2 my-lg-0">
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mr-sm-1 my-1 my-sm-0" placeholder="Email" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control my-1 my-sm-0" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-light ml-md-4 my-2 my-sm-0" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </nav>
        {% if error %}
            <div class="alert alert-dismissible alert-danger my-2 my-lg-0 text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span class="">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success my-2 my-lg-0 text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> {{ message }}
            </div>
        {% endfor %}
        <div class="container h-100">
                <div class="row mt-5 h-100 justify-content-center align-items-center">
                <div class="col-6 d-none d-md-block text-center">
                    <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
                         alt="suit" class="img-fluid transparent-img">
                    <div class="t-img-text">
                        <h3>What is portfolio book?</h3>
                        <p class="text-info">Portfolio book is created to help you create a stunning resume that will surely get that job you are looking for!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Create an account</h1>
                    {{ form(userForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
